name: CD

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/
      
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

  Deploy:
    needs: run-tests

    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write      
    steps:  
      - name: Deploy GitHub Pages artifact
        uses: actions/deploy-pages@v4
           