name: CD

on:
  pull_request:
    branches: [ master ]

jobs:
  deploy-website:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Download artifact from CI
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: devBranch.yml
          workflow_conclusion: success
          branch: dev
          name: coverage-report
          path: sites/

      - name: upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: sites/
      
      - name: Deploy
        uses: actions/deploy-pages@v4
