name: CD

on:
  push:
  
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
      actions: read

    steps:
      - name: Download the artifact
        uses: actions/Download-artifact

      - name: upload the artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

  Deploy:
    needs: run-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
      - name: deploy the artifacts
        uses: actions/deploy-pages@v4
